.bio__img {
  border-radius: 5px;
  margin-bottom: 20px;
}

.bio__name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px
}

.bio__description {
  font-size: 16px;
  text-align: justify;
  line-height: 1.3em;
  margin-bottom: 40px;
}


